body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    display: contents;
}
ul li a{
    text-decoration: none;
    padding-right: 20px;
    margin-right: 5px;
    color: white;
}
.container{
    padding: 25px 100px;
}
button{
    background-color: #E02C6D;
    color: white;
    border: 0;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}
nav{
    font-weight: 500;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nav i{
    margin-right: 7px;
}
.header-box i{
    margin-left: 7px;
}
header{
    background-color: #2D25A0;
}
.menu{
    display: flex;
}
.header-box{
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.header-box .text h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin: 15px 0;
}
img{
    width: 100%;
}
.player{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}